[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
eth-abi = ">=4.1.0"

[dev-packages]
pytest = "*"
black = "*"
pre-commit = "*"

[pipenv]
allow_prereleases = true
